<section class="full-page center vertical">
  <i class="material-icons">person</i>
  <h2 class="full-page-title">Nuevo Usuario</h2>
  <p class="full-page-desc">Bienvenido al Sistema Nacional de Votación para usar el sistema solamente necesitamos la siguiente información:</p>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field-group">
      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true, placeholder: "Nombre Completo" %>
      </div>

      <div class="field">
        <%= f.label :phone_number %>
        <%= f.phone_field :phone_number, autocomplete: "off", placeholder: "+52..."%>
      </div>

    </div>
    <div class="field-group">
      <div class="field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Minimo 6 carácteres"%>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <% end %>
        <%= f.password_field :password, autocomplete: "off", placeholder: "Minimo 6 carácteres"%>
      </div>
    </div>

    <div class="actions center vertical">
      <%= f.submit "Dar de Alta", class: "button action inverse" %>
      <a href="#">¿Necesitas Ayuda?</a>
    </div>
  <% end %>
</section>