<section class="intro center vertical">
<a href=" https://github.com/IcaliaLabs/sufragia"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/52760788cde945287fbb584134c4cbc2bc36f904/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f77686974655f6666666666662e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png"></a>
	<h4 class="intro-subtitle animated fadeInDown">Sistema de votación nacional</h4>
	<h2 class="intro-title animated fadeInUp">Participación ciudadana donde sea, cuando sea.</h2>
	<div class="button-group">
		<% if user_signed_in? %>
			<%= link_to "Crear Votación", new_campaign_path, class: "button primary action animated fadeIn" %>
		<%else%>
			<%= link_to "Crear Perfil", new_user_registration_path, class: "button primary action animated fadeIn" %>
		<%end%>
	</div>
	<div class="votes">
		<% if !@last_vote.nil? %>
		<span class="vote">Un ciudadano acaba de votar: <b><%= @last_vote.option.option%></b> en <b><%= @last_vote.campaign.name%></b></span>
		<% end %>
	</div>
</section>
<section class="time-line center">
	<% Vote.limit(4).order(:created_at).each do |vote| %>
		<div class="vote">
			<h4><%=vote.option.option%></h4>
			<h3><%=vote.campaign.name%></h3>
			<span>Hace <%=time_ago_in_words(vote.created_at)%></span>
		</div>
	<% end %>
	
</section>
<section class="polls">
	<div class="container">
		<% @campaigns.each do |campaign| %>
		<article class="poll-item">
			<span class="poll-item-category"><%=campaign.category%></span>
			<h2 class="poll-item-title"><%=campaign.name%></h2>
			<span class="poll-item-tag"><i class="material-icons">person</i><%=campaign.votes.count%> votantes</span>
			<div class="poll-item-actions">
				<%= link_to "Votar", campaign, class: "action" %>
			</div>
		</article>
		<% end %>
	</div>
</section>