<section class="intro center vertical">
	<h4 class="intro-subtitle animated fadeInDown">Sistema de votación nacional</h4>
	<h2 class="intro-title animated fadeInUp">Participación ciudadana donde sea, cuando sea.</h2>
	<div class="button-group">
		<% if user_signed_in? %>
			<%= link_to "Crear Votación", new_campaign_path, class: "button primary action animated fadeIn" %>
		<%else%>
			<%= link_to "Crear Perfil", new_user_registration_path, class: "button primary action animated fadeIn" %>
		<%end%>
	</div>
	<div class="votes">
		<span class="vote">Un ciudadano acaba de votar: <b>Monterrey</b> en <b>¿Qué presidente serías?</b></span>
	</div>
</section>
<section class="time-line center">
	<div class="vote">
		<h4>Peña Nieto</h4>
		<h3>Elección presidente de México</h3>
		<span>Hace 2 Minutos</span>
	</div>
	<div class="vote">
		<h4>Peña Nieto</h4>
		<h3>Elección presidente de México</h3>
		<span>Hace 2 Minutos</span>
	</div>
	<div class="vote">
		<h4>Peña Nieto</h4>
		<h3>Elección presidente de México</h3>
		<span>Hace 2 Minutos</span>
	</div>
	<div class="vote">
		<h4>Peña Nieto</h4>
		<h3>Elección presidente de México</h3>
		<span>Hace 2 Minutos</span>
	</div>
</section>
<section class="polls">
	<div class="container">
		<% @campaigns.each do |campaign| %>
		<article class="poll-item">
			<span class="poll-item-category"><%=campaign.category%></span>
			<h2 class="poll-item-title"><%=campaign.name%></h2>
			<span class="poll-item-tag"><i class="material-icons">person</i><%=campaign.votes.count%> votantes</span>
			<div class="poll-item-actions">
				<%= link_to "Votar", campaign, class: "action" %>
			</div>
		</article>
		<% end %>
	</div>
</section>