<section class="full-page center vertical">
  <i class="material-icons">vpn_key</i>
  <h2 class="full-page-title">Accerder a Sufragia</h2>
  <p class="full-page-desc">Accede a sufragia para comenzar a participar en las votaciones</p>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :phone_number %><br />
      <%= f.phone_field :phone_number, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="actions center">
      <%= f.submit "Acceder", class: "button action inverse" %>
    </div>
  <% end %>
</section>